body{
	background-color: black;
	color: white;
	font-family: verdana;
}

header{
	background-color: black;
	display: flex;
	border-bottom: white 1px solid;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 1900px;
	padding: 20px 0 10px;
	margin-top: -10px;
}

.nav a {
	color: white;
	padding: 0 15px;
	font-size: 20px;
}

.mission {
	background-image: url(../images/img-mission-background.jpg);
	height: 800px;
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.body {
	margin: auto;
	padding:0 300px;
}

.mission-statement {
	background-color: black;
	height: 90px;
	font-weight: bold;
	text-align: center;
	width: 1200px;
	
	
}

.mission-statement h4 {
	font-size: 30px;
	margin-top: 5px;
}

.mission-statement p {
	margin-top: -20px;
}

.Tea {
	display: flex;
	width: 1200px;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.fig img {
	height: 200px;
	width: 300px;
	margin: 0 -25px;
}

.tea-pics {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.fig figcaption {
	padding-top: 10px;
	font-weight: bold;
	text-align: center;
}

.Tea h4 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 100px;
}

.Tea p {
	font-weight: bold;
	margin-top: -10px;
}

.locations {
	background-image: url(../images/img-locations-background.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	height: 600px;
}

.squares {
	display: flex;
	width: 1000px;
	justify-content: space-between;
	
}

.similar {
	background-color: black;
	height: 250px;
	width: 300px;
	text-align: center;
}

.similar h5 {
	font-size: 20px;
	font-weight: bold;
}

.similar p {
	padding-top: 20px;
}

.locations h4 {
	font-size: 30px;
	font-weight: bold;
	margin-top: 100px;
}

.similar span p {
	padding-top: 0px;
}

.contact {
	text-align: center;
}

.contact h4 {
	font-size: 30px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 20px;
}

.contact p {
	font-size: 12px;
	padding-top: 10px;
	
}

footer {
	font-size: 12px;
}
