body{
	background-color: black;
	color: white;
	font-family: verdana;
}

header{
	background-color: black;
	display: flex;
	flex-grow: 1;
	border-bottom: white 1px solid;
	justify-content: space-between;
	align-items: center;
}

.nav a {
	color: white;
	padding: 0 10px;
	font-size: 20px;
}

.mission {
	background-image: url(../images/img-mission-background.jpg);
	height: 800px;
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.body {
	margin: auto;
	padding:0 300px;
}

.mission-statement {
	background-color: black;
	height: 90px;
	font-weight: bold;
	text-align: center;
	width: 1200px;
	
	
}

.mission-statement h4 {
	font-size: 30px;
	margin-top: 5px;
}

.mission-statement p {
	margin-top: -20px;
}